#ifndef __WAVETABLE__
#define __WAVETABLE__
// Sample name: $WaveTableName
// Sample's base frequency: $WaveTableBaseFreq Hz
// Sample's sample rate: $WaveTableSampleRate Hz

#include <stdint.h>

extern const uint16_t WAVETABLE_LEN;
extern const uint16_t WAVETABLE_ATTACK_LEN;
extern const uint16_t WAVETABLE_LOOP_LEN;

extern const $WaveTableSampleType WaveTable[];
extern const $WaveTableIncrementType WaveTable_Increment[];

#endif