#include <stdint.h>
#include "WaveTable.h"

// Sample name: $WaveTableName
// Sample's base frequency: $WaveTableBaseFreq Hz
// Sample's sample rate: $WaveTableSampleRate Hz
__code $WaveTableSampleType WaveTable[WAVETABLE_ACTUAL_LEN] ={
$WaveTableAttackData
$WaveTableLoopData
};

__code $WaveTableIncrementType WaveTable_Increment[] ={
$WaveTableIncrementData
};
