#include <stdint.h>
#include <WaveTable.h>
#include <avr/pgmspace.h>
// Sample name: $WaveTableName
// Sample's base frequency: $WaveTableBaseFreq Hz
// Sample's sample rate: $WaveTableSampleRate Hz
const $WaveTableSampleType WaveTable[WAVETABLE_LEN] PROGMEM ={
$WaveTableAttackData
$WaveTableLoopData
};

const $WaveTableIncrementType WaveTable_Increment[] PROGMEM ={
$WaveTableIncrementData
};
